header{
    width:100%;
    height:50px;
    background-color:rgb(92, 67, 28);
    color: #ffffff;
}
a,p{
    padding-top: 15px;
}
header a{
    text-decoration: none;
    float: right;
    color: white;
    padding-right: 10px;
}
header p {
    float: left;
    padding-left: 10px;
}
body{
    background: #90822f;
}
#container{
    width: 100%;
    height: auto;
    background-color:#90822f;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.center{
    width: 700px;
    height: auto;
    margin-top: 50px;
    background-color:rgb(92, 67, 28);
    display: block;
}

#form{
    margin: 15px auto;
    align-items: center;

}

label{
    font-size: 30px;
    color: white;
}
input{
    width: 600px;
    height: 40px;
    border-radius: 15px;
}
.row{
    margin-top: 15px;
    margin-left: 15px;
}
fieldset{
    border: black 1px;
    margin: 0;
    width: 75%;
    text-align: center;
}
.checkbox{
    font-size: 25px;
    color: white;
}
.checkbox-input{
    width: 30px;
    height: 30px;
}
.button{
    margin: 0;
    height: 50px;
    width: 300px;

    border-radius: 10px;
    background-color:#90822f;
    border-color: black;
    font-size: 20px;
    font-weight: bold;
}
.centerbutton{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}
#button_pesquisa{
    border-radius: 10px;
    background-color:#90822f;
    border-color: black;
    font-size: 20px;
    font-weight: bold;

    width: 90%;
}
.meio{
    margin-left: 15px;
}
