@media screen and (max-width:500px){
    .center{
        width: 300px;
        height: auto;

    }
  input{
      width: 250px;
      height: 40px;
  }
   .label{
     font-size: 20px;
  }
    .checkbox-input{
        margin-top: 15px;
        font-size: 20px;
        justify-content: space-between;
    }
    .checkbox{
        font-size: 30px;
    }
    .centerTitle{
        margin-left: 50px;
    }
    #input_pesquisa{
        width: 150px;
        height: 30px;
    }
    #label_pesquisa{
        font-size: 25px;
    }
}
