@media screen and (max-width: 500px){
   #container{
       height: auto;
       align-items: center;
   }
    #center{
        position: relative;
        margin-top: 50px;
        height: auto;
        align-items: center;
    }

}