@media only screen and (max-width: 500px){
    body{
        display: block;
    }
    .carrosel{
        margin: 100px auto;
    }
    .carrosel, img{
        width: 320px;
        height: 500px;

    }
}


